<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="co.testautomation.testcases.M7_Activity1_PG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
